body.flex {
	min-height: 300px;
	min-width: 300px;

	background-color: var(--dark-grey);

	padding: 1rem;
	justify-content: flex-start;

	position: relative;

	color: var(--dark-grey);
}

.mwsBrandingHeader.flex {
	width: 100%;
	align-items: flex-start;
}
.mwsHeaderImage {
	width: 10%;
}

.startSelectionButton {

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;


	font-size: 1.5rem;

	/* border: 2px solid var(--dark-green); */
	/* border-radius: 0.8rem; */
	/* border-radius: 0rem; */
	/* border-bottom-left-radius: 100%; */

	border-radius: 100%;
	border-top-right-radius: 0rem;
	border-top-left-radius: 0rem;
	border-bottom-right-radius: 0rem;
	width: 1rem;
	height: 1rem;
	padding: 1rem;
	padding-left: 2rem;
	padding-bottom: 2rem;
	
	position: absolute;
	top: 0rem;
	right: 0rem;
	

	
	
	/* border-radius: 0rem;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	padding-inline: 3rem;
	right: 1rem; */
}
.startSelectionButton:hover {
	/* background-color: var(--dark-green);
	color: white; */
	/* border: 2px solid var(--dark-green); */
}

/* SHORTCUTS AREA */

.activeWebsiteShortcutsDiv.flex {
	/* background-color: var(--dark-blue); */

	border-radius: 0.3rem;

	margin-top: 1rem;
	/* padding: 1rem; */

	font-size: 1rem;

	max-height: 155px;

	width: 100%;

	align-items: flex-start;

}
.activeWebsiteShortcutsDiv > span {
	color: #bfbfbf;
	margin: .2rem;
	text-shadow: 0px 0px 5px black;

	/* font-weight: 500; */
}	

.displayMessageDiv {
	text-align: center;
	font-size: 0.8rem;
	width: 100%;
	color: #bfbfbf;
	padding: 3rem;
}

.shortcutsListDiv {
	width: 100%;
	overflow-y: auto;

	padding: 0.2rem 0.5rem;
	/* padding-top: 0rem; */
	/* padding-right: 0.3rem; */

	border-radius: 1rem;

	background-color: #1f1f1f;

	scroll-behavior: smooth;

}
.shortcutsListDiv::-webkit-scrollbar-track {
	/* padding: 3rem; */
	margin: .5rem;
}
.shortcutDiv.flex {
	width: 100%;

	background-color: #404040;
	color: white;
	padding: 0.4rem;

	flex-direction: row;
	
	border-radius: 1rem;
	/* justify-content: center; */
	/* align-items: center; */
	
	margin: 0.2rem 0rem;

	min-height: 3rem;

}
.shortcutDiv.flex:hover {
	transform: scale(1.01);
	background-color: #464646;

}
/* .shortcutDiv:first-child{
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
}
.shortcutDiv:last-child{
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
} */
.shortcutDiv div {
	align-items: flex-start;
	/* padding: 0.1rem 0.6rem; */
	padding: .5rem;
}

.shortcutNameDiv.flex {
	flex: 1;
}
.shortcutName{
	/* Tried to wrap the text which is long and have no spaces, but nothing seems to work */
	/* text-wrap: wrap; */

  /* white-space: pre-wrap; */

  /* white-space: pre; */
  /* word-wrap: break-word; */

  /* This allows long words to wrap */
  /* overflow-wrap: break-word; */
  /* This preserves whitespace and allows wrapping */
  /* white-space: pre-wrap;  */

}
.shortcutKeyDiv.flex {
	flex: .7;
	background-color: #1f1f1f;
	border-radius: 1rem;

	align-items: center;
	color: var(--dark-blue);
}


/* FOOTER */

footer.flex {
	/* padding: 0.5rem; */
	/* min-height: 1.5rem; */
	margin-top: .5rem;
	width: 100%;
	
	/* flex-direction: column; */
}
footer.flex .toggleWithText-wrapper {
	width: 100%;
	margin-block: 0.05rem;
	justify-content: space-between;
	position: relative;

	height: fit-content;

	font-size: .9rem;
}
.toggleWithText-wrapper:first-child {
	border-radius: 0rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.toggleWithText-wrapper:last-child {
	border-radius: 0rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

footer.flex .toggleWithText-wrapper .toggleSwitchLabel {
	/* position: absolute;
	top: 0%;
	right: 0%; */

	/* justify-self: flex-end; */
	/* justify-content: flex-end; */
}
footer.flex button {
	/* padding: 0.8rem;
	margin: 0.2rem;
	font-weight: 500; */
}
.disableButtonsDiv {
	width: 100%;
	/* flex-direction: row; */
}


.settingsButtonDiv {
	width: 100%;
}
.openOptionsButton {
	position: relative;
	width: 100%;

	border-radius: 1rem;
	color: white;
	background-color: #404040;

	display: flex;
	align-items: center;
	
	padding: 1rem;
	margin: 1rem;
}
.openOptionsButton:hover {
	color: white;
	background-color: #555555;
}
.openOptionsButton .fa-gear{
	color: #858585;
	margin-right: .7rem;
	padding-top: 0.2rem;
	
}
.openOptionsButton .fa-angle-right{
	position: absolute;
	right: 1rem;
}




.animatedLogo-wrapper {
	position: absolute;
	margin: auto;
	left: -40%;
	top: 0%;
	width: 15rem;

	opacity: 0.3;

	z-index: -1;
	user-select: none;
}

.animatedLogo {
	width: 100%;
	pointer-events: none;
}

.globe {
	animation: rotater 15s linear infinite;
}

@keyframes rotater {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}