body {
    font-family: var(--default-font);
    /* background-color: aqua; */


    font-weight: 100;

    background-color: green;
    height: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .wrapper h1 {
    margin-bottom: 0.5rem;
    /* Text styling */
    color: #fff;
}

main button {
    padding: 1rem 1.5rem;
    /* Text styling */
    color: #fff;
}