






/* -------------------- Element Selector Styles -------------------- */

.mws-floating-wrapper {
	display: flex !important;
	flex-direction: column !important;

	height: fit-content !important;
	width: fit-content !important;
	/* height:  calc(var(--mws1px) * 300) !important; */
	/* width:  calc(var(--mws1px) * 300) !important; */
	/* width: 22% !important; */
	width: calc(var(--mws-rem)*18) !important;
    
	background-color: #2d2d2d !important;
	padding: calc(var(--mws-rem)*2) !important;

	border-radius: var(--mws-borderRadius) !important;

	position: fixed !important;
	bottom:  calc(var(--mws1px) * 0) !important;
	right:  calc(var(--mws1px) * 0) !important;

	box-shadow:  calc(var(--mws1px) * 0)  calc(var(--mws1px) * 0)  calc(var(--mws1px) * 10)  calc(var(--mws1px) * 2) var(--mws-black) !important;
	color: var(--mws-light-green) !important;

	z-index: 10000 !important;

	cursor: grab !important;
    user-select: none !important;
}
.mws-floating-wrapper div {
	display: flex !important;
	flex-direction: column !important;
	width: 100% !important;
}

.mws-floating-wrapper .mws-closeElementSelectorButton {
	position: absolute !important;
	top:  calc(var(--mws1px) * 0) !important;
	right:  calc(var(--mws1px) * 0) !important;
}
.mws-selectedElement-wrapper {
	width: 100% !important;

	display: flex !important;
	flex-direction: column !important;
}
.mws-selectedElementPara {
	width: 100% !important;
	display: flex !important;
	flex-direction: column !important;

	font-size: var(--mws-fontSize) !important;

	align-items: flex-start !important;
	justify-content: flex-start !important;

	color: #bfbfbf !important;
}
.mws-currentElementSpan {
    text-align: center !important;
	color: var(--mws-light-green) !important;
	background-color: #1f1f1f !important;

	padding: var(--mws-padding-l) !important;
	width: 100% !important;

	border-radius: var(--mws-borderRadius) !important;
	font-weight: 500 !important;
	font-size: var(--mws-fontSize-l) !important;
}
button.mws-selectElementButton {
	margin-top: var(--mws-margin) !important;
	font-size: var(--mws-fontSize) !important;

	padding: var(--mws-padding-l) !important;
	border-radius: var(--mws-borderRadius) !important;

	/* display: flex !important; */
	display: none !important;
	flex-direction: row !important;
	width: 100% !important;
}
.mws-selectElementButton i {
	margin-inline: var(--mws-margin) !important;
}

/* Element Selection Enable/Disable Button */
.mws-elementSelectorActions-wrapper {
	flex-direction: row !important;
	
	/* background-color: #262626 !important; */
	border-radius: var(--mws-borderRadius) !important;
	margin-top: var(--mws-margin) !important;
	/* padding: var(--mws-padding-l) !important; */
	
}


.mws-disableElementSelectionSpan-wrapper{
	/* padding: var(--mws-padding-s) !important; */
	text-align: center !important;
	
}
.mws-disableElementSelectionSpan{

}

.mws-elementSelectorActions-wrapper .toggleWithText-wrapper {
	flex-direction: row !important;
	/* justify-content: center !important; */
	/* align-items: center !important; */
}

.mws-element .mws-disableElementSelectionToggle-wrapper {
	/* margin-inline: var(--mws-margin) !important; */
	width: fit-content !important;
}


/* Element Selector Options */


.mws-collapsableSettings-wrapper{
	
	display: flex !important;
	flex-direction: column !important;
	/* align-items: flex-start !important; */
	color: #bfbfbf !important;
    width: 100% !important;
	
    
}

.mws-collapsableSettings-wrapper summary{
	background-color: var(--mws-dark-grey) !important;
	
    padding: var(--mws-padding-l) !important;
    
    margin-top: var(--mws-margin) !important;
    border-radius: var(--mws-borderRadius) !important;
    
    color: #bfbfbf !important;
	font-size: var(--mws-fontSize) !important;
    
}
.mws-collapsableSettings-wrapper summary:hover{
	filter: brightness(.8) !important;
	cursor: pointer !important;
}
.mws-collapsableSettings-wrapper details[open] summary{
	border-radius:  calc(var(--mws1px) * 0) !important;
    border-top-left-radius: var(--mws-borderRadius) !important;
    border-top-right-radius: var(--mws-borderRadius) !important;
    /* background-color: black !important; */

    border-bottom: #2d2d2d  calc(var(--mws1px) * 2) solid !important;


}

.mws-collapsableSettings-wrapper summary {
  display: block !important;
  position: relative !important;
  user-select: none !important;

}
/* Create a new custom triangle on the right side */
.mws-collapsableSettings-wrapper summary::after {
  display: inline-block !important;
  font-family: 'Font Awesome 6 Free' !important;
  content: '\f105' !important;
  transition: 0.3s ease !important;
  position: absolute !important;
  right: var(--mws-rem) !important;
}

.mws-collapsableSettings-wrapper details[open] > summary::after {
  transform: rotate(90deg) !important;
}

.mws-elementSelectionOptions-wrapper {
	display: flex !important;
	flex-direction: column !important;
	align-items: flex-start !important;
	justify-content: flex-start !important;
	background-color: var(--mws-dark-grey) !important;
	padding: var(--mws-padding-l) !important;

    border-bottom-left-radius: var(--mws-borderRadius) !important;
    border-bottom-right-radius: var(--mws-borderRadius) !important;
}
.mws-elementSelectionOptions-wrapper span {
    margin-block: var(--mws-margin) !important;
	font-size: var(--mws-fontSize) !important;
	font-weight: 600 !important;
}




.mws-element .mws-selectionGuideDetails{
	color: #bfbfbf !important;
	align-self: center !important;
	
	text-align: left !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	margin-top: var(--mws-margin) !important;
	width: 100% !important;
	
	background-color: var(--mws-dark-grey) !important;
	border-radius: var(--mws-borderRadius-s) !important;
	padding: var(--mws-padding) !important;

	font-size: var(--mws-fontSize-s) !important;
}
.mws-element .mws-selectionGuideDetails span{
}
.mws-element .mws-selectionGuideDetails i{
	font-size: calc(var(--mws-rem)/2) !important;
}
.mws-element .mws-selectionGuideDetails[open]{
	align-self: center !important;
}
.mws-element .mws-selectionGuideDetails[open] .mws-selectionGuideSummary{
	margin-bottom: var(--mws-margin) !important;
	border-bottom:  calc(var(--mws1px) * 2) solid #bfbfbf15 !important;	
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	width: 100% !important;
	padding-bottom: var(--mws-padding) !important;
}
.mws-element .mws-selectionGuideSummary{
	font-size: var(--mws-fontSize-s) !important;
	display: flex !important;
	position: relative !important;
	/* align-items: center !important; */
	/* justify-content: center !important; */

	padding: var(--mws-padding-s) !important;
	border-radius: var(--mws-borderRadius-s) !important;
	background-color: var(--mws-dark-grey) !important;

	align-self: center !important;
	width: 100% !important;
	/* display: block !important; */
}
.mws-element .mws-selectionGuideDetails:hover {
	filter: brightness(.8) !important;
}
/* Create a new custom triangle on the right side */
.mws-element .mws-selectionGuideSummary::after {
  display: inline-block !important;
  font-family: 'Font Awesome 6 Free' !important;
  content: '\f105' !important;
  transition: 0.3s ease !important;
  position: absolute !important;
  right: var(--mws-rem) !important;
}

.mws-element .mws-selectionGuideDetails[open] > .mws-selectionGuideSummary::after {
  transform: rotate(90deg) !important;
}