/* ----------------------- KEY SELECTOR Styles ----------------------- */

.mws-keyboardShortcutSelectionDialog.mws-element {
	cursor: auto !important;
	padding: calc(var(--mws-rem) * 2) !important;

	overflow-y: hidden !important;
	width: calc(var(--mws-rem)*22) !important;
}
.mws-keyboardShortcutSelectionDialog div {
	/* cursor: auto !important; */
	display: flex !important;
	flex-direction: column !important;
	width: 100% !important;
}
.mws-keyboardShortcutSelectionDialog
	.mws-closeKeyboardShortcutSelectionDialogButton {
	position: absolute !important;
	top:  calc(var(--mws1px) * 0) !important;
	right:  calc(var(--mws1px) * 0) !important;
}

/* Shortcut Selector Styles */
.mws-shortcutSelector-wrapper {
	align-items: center !important;
	justify-content: center !important;

	flex-direction: row !important;

	/* margin-block: var(--mws-margin) !important; */
}

.mws-selectShortcutText-wrapper {
	flex-direction: row !important;
	justify-content: center !important;
}

.mws-selectShortcutText {
	color: #bfbfbf !important;
	font-size: var(--mws-fontSize) !important;
	font-weight: 500 !important;
}

.mws-selectShortcutButtonAndKBD-wrapper.mws-element {
	margin-top: var(--mws-margin) !important;
	flex-direction: row !important;
	width: 100% !important;
	justify-content: flex-start !important;
}

kbd.mws-element {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	color: white !important;
	font-weight: 500 !important;
	background-color: #1f1f1f !important;
	/* width: calc(var(--mws-rem)*3) !important; */
	/* height: calc(var(--mws-rem)*3) !important; */
	font-size: var(--mws-fontSize-l) !important;
	padding: var(--mws-padding) !important;
	border-radius: var(--mws-borderRadius) !important;
	cursor: pointer !important;
}

.mws-kbd-wrapper.mws-element {
	width: 50% !important;
}
.mws-selectedShortcutKBD {
	width: 100% !important;
	height: 100% !important;
	/* padding: 1rem !important; */
}
.mws-selectedShortcutKBD.active {
	border:  calc(var(--mws1px) * 2) solid #26bcd6 !important;
}
.mws-selectedShortcutKBD.shortcutExists {
	border:  calc(var(--mws1px) * 2) solid var(--mws-red) !important;
}

.mws-selectShortcutButton-wrapper {
	align-items: center !important;
	margin-inline: var(--mws-margin) !important;
	width: 100% !important;
	
}
.mws-shortcutSelectionDoneButton.mws-element {
	padding: var(--mws-padding-l) !important;
	/* padding: 1rem !important; */
	border-radius: var(--mws-borderRadius) !important;
	width: 100% !important;
	font-size: var(--mws-fontSize) !important;
}
.mws-shortcutSelectionDoneButton .onSelection,
.mws-shortcutSelectionDoneButton .editSelection {
	display: none !important; /* Hide both spans by default */
}

.mws-shortcutSelectionDoneButton.onSelection .onSelection,
.mws-shortcutSelectionDoneButton.editSelection .editSelection {
	display: inline !important; /* Show the respective span when the class is present */
}

.mws-shortcutSelectionDoneButton.editSelection {
	background-color: var(--mws-dark-green) !important;
	pointer-events: all !important;
}
.mws-shortcutSelectionDoneButton.editSelection:hover {
	background-color: #277422 !important;
}
.mws-shortcutSelectionDoneButton.editSelection:focus {
	outline: 2px solid black !important;
	background-color: #277422 !important;
}
.mws-shortcutSelectionDoneButton.onSelection {
	outline: none !important;
	pointer-events: none !important;
}

/* Shortcut Name styles */

.mws-shortcutName-wrapper {
	margin-block: var(--mws-margin) !important;
}

.mws-shortcutNameLabel-wrapper {
	color: #bfbfbf !important;
	font-size: var(--mws-fontSize-l) !important;
	font-weight: 500 !important;
	margin-block: var(--mws-margin-s) !important;
}

.mws-shortcutNameInput-wrapper {
	margin-block: var(--mws-margin-s) !important;
}
.mws-shortcutNameInput-wrapper input {
	font-size: var(--mws-fontSize) !important;
}

/* Key Dialog Options */

.mws-keyDialogOptionsWithHeading-wrapper {
	display: flex !important;
	flex-direction: column !important;
	align-items: flex-start !important;
	color: #bfbfbf !important;
	margin-block: var(--mws-margin-s) !important;
	/* margin-block: var(--mws-margin) !important; */
}
.mws-keyDialogOptionsHeading {
	font-size: var(--mws-fontSize-l) !important;
	font-weight: 500 !important;
	margin-bottom: var(--mws-margin-s) !important;
}
.mws-keyDialogOptions-wrapper {
	display: flex !important;
	flex-direction: column !important;

	align-items: flex-start !important;
	justify-content: flex-start !important;
	background-color: var(--mws-dark-grey) !important;
	padding: var(--mws-padding-l) !important;
	border-radius: var(--mws-borderRadius) !important;
}
.mws-keyDialogOptions-wrapper > div {
	margin-block: var(--mws-margin) !important;
}
.mws-keyDialogOptions-wrapper span {
	font-size: var(--mws-fontSize) !important;
	font-weight: 500 !important;
}

.mws-element select {
	padding: var(--mws-padding-l) !important;
	margin-top: var(--mws-margin-s) !important;
}

.mws-element .mws-urlTypeSelect-wrapper {
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
	justify-content: space-between !important;
	/* background-color: black !important; */
	padding: var(--mws-padding-s) !important;

	width: 100% !important;
}
.mws-element .mws-urlTypeSelect-wrapper select.mws-element {
	flex: 1 !important;
	width: 100% !important;
}
.mws-element .mws-editCustomShortcutButton {
	display: none !important;
	margin-inline: var(--mws-margin-s) !important;
	height: calc(var(--mws-rem) * 2.5) !important;
	width: calc(var(--mws-rem) * 2.5) !important;
}

/* Done Button */

.mws-allDoneButton.mws-element {
	margin-top: var(--mws-margin) !important;
	padding: var(--mws-padding-l) !important;
	width: 80% !important;
	font-size: var(--mws-fontSize) !important;
}
.mws-allDoneButton.mws-element:focus {
	outline: 2px solid black !important;
}
.mws-allDoneButton i {
	margin-inline: var(--mws-margin) !important;
}



/* Custom URL Editor */
.mws-element .mws-customURLEditorDialog {
	display: none !important;

	/* min-width: calc(var(--mws-rem)*25) !important; */
	min-width: fit-content !important;
	padding: var(--mws-padding-xl) !important;
}
.mws-element .mws-customURLEditorDialog:focus {
	outline: none !important;
}
.mws-element .mws-customURLEditorDialog div {
	/* display: flex !important; */
}
.mws-element .mws-spanText-wrapper {
	display: flex !important;
	flex-direction: row !important;
	width: 100% !important;
	justify-content: center !important;
	/* align-items: center !important; */
	margin-block: var(--mws-margin-l) !important;
}

.mws-element .mws-customURLEditorDialog .mws-spanText {
	width: 100 !important;
	/* flex: 1 !important; */
}
.mws-customURLEditorDialog select.mws-specialTermSelect{
	padding: var(--mws-padding) !important;
}

.mws-element .mws-copySpecialStringButton-wrapper {
	display: inline-flex !important;
	/* flex-direction: row !important; */
	width: fit-content !important;

}
.mws-element button.mws-copySpecialStringButton {
	display: flex !important;
	font-size: var(--mws-fontSize-s) !important;
	/* width: 1rem !important; */
	/* height: 1rem !important; */
	padding: 1rem !important;
	position: relative !important;
}
.mws-element.mws-copySpecialStringButton:active {
	transform: scale(0.7) !important;
}
.mws-element .mws-customURLEditor-wrapper {
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
	justify-content: center !important;
	/* flex-wrap: wrap !important; */
	width: 100% !important;

	margin-block: var(--mws-margin) !important;
	color: var(--mws-dark-green) !important;
}
.mws-customURLEditor-wrapper span.mws-element {
	margin-inline: var(--mws-margin-s) !important;
}

.mws-customURLEditor-wrapper input.mws-element {
	/* display: inline-flex !important; */
	max-width: 10rem !important;
	/* flex: 1 !important; */
}

.mws-element .mws-customURLEditorDialog .mws-confirmCustomURLButton {
	margin-top: var(--mws-margin-l) !important;

}
.mws-element.mws-closeCustomURLEditorDialogButton {
	position: absolute !important;
	top: 0% !important;
	right: 0% !important;
	
	border-radius: 100% !important;
}
.mws-element.mws-closeCustomURLEditorDialogButton:focus {
	/* outline: 2px solid black !important; */
}