/* CSS Reset for Common Elements within .mws-element */

/* Resetting specific elements inside .mws-element */
.mws-element a,
.mws-element button,
.mws-element input,
.mws-element select,
.mws-element input,
.mws-element details,
.mws-element summary,
.mws-element textarea {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  background: transparent;
  color: inherit;
  display: inline-block;
  position: static;
  overflow: visible;
  cursor: auto;
  box-shadow: none;
  font-weight: normal;
}



/* STYLES THAT WILL BE USED IN THE WEBPAGE FOR ELEMENT SELECTION PURPOSES */

.mws-stylesForPage {
	cursor: pointer !important;
	/* position: relative; */
}

.mws-bordered {
	outline: 2px solid red !important;
}
.mws-clicked {
	position: relative;
}
.mws-clicked::after {
	content: attr(data-index); /* Display the data-index attribute as content */
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 15px;
	height: 15px;
	background-color: yellow;
	color: black;
	border: 2px solid black;
	font-size: 12px;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.mws-clicked::before {
	content: attr(
		data-keyboardShortcut
	); /* Display the data-index attribute as content */
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 15px;
	height: 15px;
	background-color: grey;
	color: black;
	border: 2px solid black;
	font-size: 12px;
	text-align: center;
}

/* UNIVERSAL Styles for all the Extension Generated Elements */

@font-face {
	font-family: 'Inter';
	src: url('../../assets/inter/Inter-Regular.woff2') format('woff2'),
		url('../../assets/inter/Inter-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

*.mws-element {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
	/* font-family: Ubuntu; */
	font-family: 'Inter', sans-serif;

	/* --default-font: 'Grandstander', cursive; */

	--mws-black: #000000;

	--mws-light-green: #54b948;
	--mws-dark-green: #49a942;

	--mws-dark-blue: #26bcd6;
	--mws-light-blue: #7ed0e0;
	--mws-lightest-blue: #cceaee;

	--mws-grey: #c0d3d8;
	--mws-dark-grey: #262626;

	--mws-red: #d75454;
	--mws-light-red: #d37070;

	
	--mws-rem: 16px;

	--mws-borderRadius-s: calc(var(--mws-rem) / 2);
	--mws-borderRadius: calc(var(--mws-rem));
	--mws-borderRadius-l: calc(var(--mws-rem) * 2);

	--mws-border-s: calc(var(--mws-rem) / 16);
	--mws-border-m: calc(var(--mws-rem) / 8);
	--mws-border-l: calc(var(--mws-rem) / 4);

	--mws-fontSize-s: calc(var(--mws-rem) / 1.2);
	--mws-fontSize: calc(var(--mws-rem));
	--mws-fontSize-l: calc(var(--mws-rem) * 1.2);

	--mws-margin-s: calc(var(--mws-rem) / 8);
	--mws-margin: calc(var(--mws-rem) / 2);
	--mws-margin-l: calc(var(--mws-rem));

	--mws-padding-s: calc(var(--mws-rem) / 8);
	--mws-padding: calc(var(--mws-rem) / 2);
	--mws-padding-l: calc(var(--mws-rem));
	--mws-padding-xl: calc(var(--mws-rem) * 1.5);
}

.mws-element .fas, .mws-element .fa-solid{
  font-family: 'Font Awesome 6 Free';

}

/* Custom Dialog Box Styles  */

dialog.mws-element {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	background-color: #2d2d2d;

	border-radius: var(--mws-borderRadius-s);
	padding: var(--mws-padding-l);
	color: white;

	border: none;
	box-shadow: 0px 0px 10px 0px black;

	position: fixed;
	top: 50%;
	bottom: 50%;
	margin: auto;

	font-size: var(--mws-fontSize);	

	max-width: 350px;
}


dialog.mws-element::backdrop {
	background: #000000b1;
}

dialog.mws-element .mws-actionButton{
	position: absolute;
	top: 0rem;
	right: 0rem;
}

dialog.mws-confirmationDialog{
	min-width: 40%;
	min-height: 30%;
	
	font-size: 1.5rem;
	padding: var(--mws-padding-l);
	padding-block: calc(var(--mws-rem)*2);
	
	display: flex;
}
dialog.mws-confirmationDialog kbd.mws-element{
	width: fit-content;
	display: inline-flex;
	/* padding-inline: var(--mws-padding-l); */
}
dialog.mws-confirmationDialog .buttons-wrapper{
	margin-top: var(--mws-margin);
	width: 100%;
	display: flex;
	justify-content: center;
}
dialog.mws-confirmationDialog .mws-buttons-wrapper > button.mws-element{
	margin-inline: var(--mws-margin);
	font-size: var(--mws-fontSize-l);

	width: calc(var(--mws-rem)*4);
	height: calc(var(--mws-rem)*3);
}


/* BUTTONS STYLES */

.mws-element button {
	background-color: var(--mws-dark-green);

	border: none;

	cursor: pointer;

	border-radius: var(--mws-borderRadius-s);
	user-select: none;

	transition: 0.15s ease;

	padding: var(--mws-padding);

	display: flex;
	justify-content: center;
	align-items: center;
}
.mws-element button:hover {
	/* transition: .15s ease; */
	background-color: var(--mws-light-green);
	color: var(--dark-grey);
}
.mws-element button:disabled {
	color: var(--mws-grey) !important;
	border-color: var(--mws-grey) !important;
	opacity: 0.7 !important;
	background-color: #4d4d4d !important;
	cursor: not-allowed;

	/* pointer-events: none !important; */
}
/* ACTION BUTTON */
.mws-element button.mws-actionButton {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
	/* color: var(--mws-light-green); */
	color: white;
	font-size: var(--mws-fontSize-l);

	border: none;

	cursor: pointer;

	border-radius: 100%;

	user-select: none;

	width: calc(var(--mws-rem)*2);
	height: calc(var(--mws-rem)*2);

	transition: 0.15s ease;

	padding: var(--mws-padding-xl);
}
.mws-element button.mws-actionButton:hover {
	background-color: #88888834;
}

/* RED BUTTON */
.mws-element .mws-redButton {
	background-color: transparent;
	border: var(--mws-border-s) solid var(--mws-red);
	color: var(--mws-red);
}
.mws-element .mws-redButton:hover {
	background-color: var(--mws-red);
	color: white;
}
/* GREEN BUTTON */

.mws-element .mws-greenButton {
	background-color: transparent;
	border: var(--mws-border) solid var(--mws-dark-green);
	color: var(--mws-dark-green);
}
.mws-element .mws-greenButton:hover {
	background-color: var(--mws-dark-green);
	color: var(--mws-dark-grey);
}

/* RED BUTTON FILLED */
.mws-element .mws-redButtonFilled {
	background-color: var(--mws-red);
	color: white;
}
.mws-element .mws-redButtonFilled:hover {
	background-color: #a54040;
	color: white;
}
/* GREEN BUTTON FILLED */
.mws-element .mws-greenButtonFilled {
	background-color: var(--mws-dark-green);
	color: rgb(255, 255, 255);
}
.mws-element .mws-greenButtonFilled:hover {
	background-color: #277422;
	color: white;
}
/* BLUE BUTTON FILLED */
.mws-element .mws-blueButtonFilled {
	background-color: var(--mws-dark-blue);
	color: rgb(255, 255, 255);
}
.mws-element .mws-blueButtonFilled:hover {
	background-color: #1597ae;
	color: white;
}


/* Toggle Switch Styles  */

/* The switch - the box around the slider */
.mws-element .mws-toggleSwitchLabel {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 28px;
}

/* Hide default HTML checkbox */
.mws-element .mws-toggleSwitchLabel .mws-toggleSwitchInput {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.mws-element .mws-toggleSwitchSpan {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #4d4d4d;
	-webkit-transition: .4s;
	transition: .4s;

	/* Round */
	border-radius: 34px;
}
.mws-element .mws-toggleSwitchSpan:hover {
	background-color: #696969;
}

.mws-element .mws-toggleSwitchSpan:before {
	position: absolute;
	content: '';
	--same-size: 20px;
	height: var(--same-size);
	width: var(--same-size);
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.3s;
	transition: 0.3s;

	border-radius: 50%;
}

.mws-element .mws-toggleSwitchInput:checked + .mws-toggleSwitchSpan:before {
	--transformX-value: 22px;
	-webkit-transform: translateX(var(--transformX-value));
	-ms-transform: translateX(var(--transformX-value));
	transform: translateX(var(--transformX-value));
}
.mws-element .mws-toggleSwitchInput:focus + .mws-toggleSwitchSpan {
	outline: 2px solid black;
}



.mws-element .mws-toggleSwitchInput.greenToggle:checked + .mws-toggleSwitchSpan.greenToggle {
	background-color: var(--mws-light-green);
}
.mws-element .mws-toggleSwitchInput.greenToggle:checked:hover  + .mws-toggleSwitchSpan.greenToggle{
	background-color: var(--mws-dark-green);
}

.mws-element .mws-toggleSwitchInput.redToggle:checked + .mws-toggleSwitchSpan.redToggle {
	background-color: var(--mws-red);
}

.mws-element .mws-toggleSwitchInput.redToggle:checked:hover  + .mws-toggleSwitchSpan.redToggle{
	background-color: #aa3c3c;
}



/* Toggle with Text Wrapper */


.mws-element .mws-toggleWithText-wrapper {
	/* display: flex; */
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: #262626;
	border-radius: var(--mws-borderRadius);
	padding: var(--mws-padding-l);
	
	font-size: var(--mws-fontSize);
	
	color: white;
	
}
.mws-element .mws-toggleWithText-wrapper > div {
	/* margin-inline: 1rem; */
}




/* INPUT STYLES */

.mws-element input[type="text"] {
	background-color: white;
	border: none;
	/* border: var(--mws-light-black) 1px solid; */
	padding: var(--mws-padding);

	border-radius: var(--mws-borderRadius-s);

	color: var(--mws-black);
}
.mws-element input[type="text"]:focus {
	outline: var(--mws-black) 3px solid;
}
.mws-element input[type="text"]:disabled {
	border-color: #575757;
	background-color: #57575727;
	color: #575757;
	cursor: not-allowed;
}
.mws-element input[type="text"]::placeholder {
	color: var(--mws-black);
	opacity: 0.5;
}
.mws-element input[type="text"]:disabled::placeholder {
	opacity: 0.2;
}

/* Custom Select Menu Styles  */
.mws-element select {
	background-color: #575757;
	border: none;

	border-radius: var(--mws-borderRadius);

	appearance: none;
	padding: var(--mws-padding);

	padding-left: var(--mws-padding-l);
	padding-right: var(--mws-padding-l);


	font-size: var(--mws-fontSize);

	user-select: none;
	color: white;
}
.mws-element select:hover {
	cursor: pointer;

	background-color: #4d4d4d;
}
.mws-element select:disabled {
	background-color: #575757;
	opacity: 0.5;
	cursor: not-allowed;
}



.mws-element summary{
	cursor: pointer !important;
}