/* @import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

/* @import url(assets/grandstander_font/Grandstander-VariableFont_wght.ttf); */

@font-face {
  font-family: "Grandstander";
  src: url('./assets/grandstander_font/Grandstander-VariableFont_wght.ttf') format('truetype');
}

:root {
	--default-font: 'Grandstander', cursive;
}

body{
    font-family: var(--default-font);
}