@font-face {
	font-family: 'Inter';
	src: url('assets/inter/Inter-Regular.woff2') format('woff2'),
		url('assets/inter/Inter-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--baseSize: 16px;
	--rem: var(--baseSize);
	font-size: var(--baseSize);

	--default-font: 'Inter', sans-serif;

	--black: #000000;

	--light-green: #54b948;
	--dark-green: #49a942;

	--dark-blue: #26bcd6;
	--light-blue: #7ed0e0;
	--lightest-blue: #cceaee;

	--grey: #c0d3d8;
	--dark-grey: #262626;

	--red: #d75454;
	--light-red: #d37070;

	--borderRadius-s: calc(var(--rem) / 2);
	--borderRadius: calc(var(--rem));
	--borderRadius-l: calc(var(--rem) * 2);

	--border-s: calc(var(--rem) / 16);
	--border-m: calc(var(--rem) / 8);
	--border-l: calc(var(--rem) / 4);

	--fontSize-s: calc(var(--rem) / 1.2);
	--fontSize: calc(var(--rem));
	--fontSize-l: calc(var(--rem) * 1.2);

	--margin-s: calc(var(--rem) / 8);
	--margin: calc(var(--rem) / 2);
	--margin-l: calc(var(--rem));

	--padding-s: calc(var(--rem) / 8);
	--padding: calc(var(--rem) / 2);
	--padding-l: calc(var(--rem));
	--padding-xl: calc(var(--rem) * 1.5);
}


/* 1366x768 */
@media only screen and (min-width: 1366px) {
	:root {
		--base-size:18x;
	}
}

/* 1440x900 */
@media only screen and (min-width: 1440px) {
	:root {
		--baseSize: 20px;
	}
}

/* 1600x900 */
@media only screen and (min-width: 1600px) {
	:root {
		--baseSize: 22px;
	}
}

/* 1920x1080 */
@media only screen and (min-width: 1920px) {
	:root {
		--baseSize: 25px;
	}
}

/* 2560x1440 */
@media only screen and (min-width: 2560px) {
	:root {
		--baseSize: 32px;
	}
}
/* 2560x1440 */
@media only screen and (min-width: 3200px) {
	:root {
		--baseSize: 40px;
	}
}

/* 3840x2160 */
@media only screen and (min-width: 3840px) {
	:root {
		--baseSize: 49px;
	}
}
/* 4096x2160 */
@media only screen and (min-width: 4096px) {
	:root {
		--baseSize: 59px;
	}
}

/* 5120x2880 */
@media only screen and (min-width: 5120px) {
	:root {
		--baseSize: 70px;
	}
}



* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	font-family: var(--default-font);
}

/* Remove the default scrollbar styles */
::-webkit-scrollbar {
	width: .5rem; /* Adjust the width as needed */
}

/* Track (the background) */
::-webkit-scrollbar-track {
	background: transparent; /* No background color */
}

/* Handle (the thumb) */
::-webkit-scrollbar-thumb {
	margin-top: 1rem;
	background: rgba(93, 128, 151, 0.768);
	border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(93, 128, 151);
}

::selection {
	color: var(--light-green);
	background-color: var(--black);
}

body {
	font-family: var(--default-font);
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;
}

/* BUTTONS STYLES */

button {
	background-color: var(--dark-green);

	border: none;

	cursor: pointer;

	border-radius: 0.5rem;
	user-select: none;

	transition: 0.15s ease;

	padding: 0.5rem;
}
button:hover {
	/* transition: .15s ease; */
	background-color: var(--light-green);
	color: var(--dark-grey);
}
button:disabled {
	color: var(--grey) !important;
	border-color: var(--grey) !important;
	opacity: 0.7 !important;
	background-color: #4d4d4d !important;
	cursor: not-allowed;

	/* pointer-events: none !important; */
}

button.actionButton {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
	color: var(--light-green);
	font-size: 1.2rem;

	border: none;

	cursor: pointer;

	border-radius: 100%;

	user-select: none;

	width: 2rem;
	height: 2rem;

	transition: 0.15s ease;

	padding: 1.5rem;
}
button.actionButton:hover {
	background-color: #88888834;
}

.redButton {
	background-color: transparent;
	border: 0.125rem solid var(--red);
	color: var(--red);
}
.redButton:hover {
	background-color: var(--red);
	color: white;
}

.greenButton {
	background-color: transparent;
	border: 0.125rem solid var(--dark-green);
	color: var(--dark-green);
}
.greenButton:hover {
	background-color: var(--dark-green);
	color: var(--dark-grey);
}

.redButtonFilled {
	background-color: var(--red);
	color: white;
}
.redButtonFilled:hover {
	background-color: #a54040;
	color: white;
}

.greenButtonFilled {
	background-color: var(--dark-green);
	color: white;
}
.greenButtonFilled:hover {
	background-color: #277422;
	color: white;
}
/* BLUE BUTTON FILLED */
.blueButtonFilled {
	background-color: var(--dark-blue);
	color: rgb(255, 255, 255);
}
.blueButtonFilled:hover {
	background-color: #1597ae;
	color: white;
}

/* Danger Button  */
.dangerButtonWithText-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	font-size: 1rem;
	border: 0.0625rem solid var(--red);
	border-radius: 1rem;

	background-color: #1f1f1f;
}
.dangerButtonWithText-wrapper .text {
	/* color: rgba(255, 2	55, 255, 0.65); */
	color: var(--red);
	margin-inline: 1rem;
}
.dangerButtonWithText-wrapper .dangerButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	padding: 0.75rem 1rem;
	font-size: 1rem;
}

/* LINK STYLES  */
a {
	text-decoration: none;
	color: var(--light-green);
}
a:hover {
	color: var(--dark-green);
}

/* INPUT STYLES */

input:not(.toggleSwitchInput) {
	background-color: transparent;
	/* border: none; */
	border: var(--light-green) 0.0625rem solid;
	padding: 0.5rem;

	border-radius: 0.5rem;

	color: var(--light-green);
}
input:not(.toggleSwitchInput) :focus {
	outline: var(--light-green) 0.125rem solid;
}
input:not(.toggleSwitchInput) ::placeholder {
	color: var(--light-green);
	opacity: 0.5;
	font-size: 100%;
}

input:not(.toggleSwitchInput) {
	background-color: white;
	border: none;
	padding: 0.5rem;

	border-radius: 0.5rem;

	color: var(--black);
}
input:not(.toggleSwitchInput):focus {
	outline: var(--black) 0.125rem solid;
}
input:disabled {
	border-color: #575757;
	background-color: #57575727;
	color: #575757;
	cursor: not-allowed;
}
input:not(.toggleSwitchInput)::placeholder {
	color: var(--black);
	opacity: 0.5;
}
input:disabled::placeholder {
	opacity: 0.2;
}
/* Toggle Switch Styles */

/* The switch - the box around the slider */
.toggleSwitchLabel {
	position: relative;
	display: inline-block;
	width: 3.125rem; /* 50px / 16px = 3.125rem */
	height: 1.75rem; /* 28px / 16px = 1.75rem */
}

/* Hide default HTML checkbox */
.toggleSwitchLabel .toggleSwitchInput {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.toggleSwitchSpan {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #4d4d4d;
	-webkit-transition: 0.4s;
	transition: 0.4s;

	/* Round */
	border-radius: 2.125rem; /* 34px / 16px = 2.125rem */
}
.toggleSwitchSpan:hover {
	background-color: #696969;
}

.toggleSwitchSpan:before {
	position: absolute;
	content: '';
	--same-size: 1.25rem; /* 20px / 16px = 1.25rem */
	height: var(--same-size);
	width: var(--same-size);
	left: 0.25rem; /* 4px / 16px = 0.25rem */
	bottom: 0.25rem; /* 4px / 16px = 0.25rem */
	background-color: white;
	-webkit-transition: 0.3s;
	transition: 0.3s;

	border-radius: 50%;
}

.toggleSwitchInput:checked + .toggleSwitchSpan:before {
	--transformX-value: 1.375rem; /* 22px / 16px = 1.375rem */
	-webkit-transform: translateX(var(--transformX-value));
	-ms-transform: translateX(var(--transformX-value));
	transform: translateX(var(--transformX-value));
}

.toggleSwitchInput:focus + .toggleSwitchSpan {
	outline: 0.125rem solid black;
}

.toggleSwitchInput.greenToggle:checked + .toggleSwitchSpan.greenToggle {
	background-color: var(--light-green);
}
.toggleSwitchInput.greenToggle:checked:hover + .toggleSwitchSpan.greenToggle {
	background-color: var(--dark-green);
}

.toggleSwitchInput.redToggle:checked + .toggleSwitchSpan.redToggle {
	background-color: var(--red);
}

.toggleSwitchInput.redToggle:checked:hover + .toggleSwitchSpan.redToggle {
	background-color: #aa3c3c;
}

/* Custom Select Menu Styles  */
select {
	background-color: #575757;
	border: none;

	border-radius: 1rem;

	appearance: none;
	padding: 1rem;

	padding-right: 2rem;

	user-select: none;
	color: white;
}
select:hover {
	cursor: pointer;

	background-color: #4d4d4d;
}
select:disabled {
	background-color: #575757;
	opacity: 0.5;
	cursor: not-allowed;
}

/* Custom Dialog Box Styles  */

dialog {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	background-color: var(--dark-grey);
	border-radius: 1rem;
	padding: 1rem;
	color: white;

	border: none;
	box-shadow: 0rem 0rem 0.5rem 0rem black;

	position: fixed;
	top: 50%;
	bottom: 50%;
	margin: auto;

	font-size: 1rem;
}
dialog::backdrop {
	background: #000000b1;
}

/* Most of the times the actionbutton inside a dialog will be the close dialog button, therefore this default style */
dialog .actionButton {
	position: absolute;
	top: 0rem;
	right: 0rem;
}

dialog.confirmationDialog {
	min-width: 40%;
	min-height: 30%;

	font-size: 1.5rem;
	padding: 2rem;
}
dialog.confirmationDialog .buttons-wrapper {
	margin-top: 1rem;
}
dialog.confirmationDialog .buttons-wrapper > button {
	font-size: 1.5rem;
	margin-inline: 0.5rem;
}


kbd {
	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
	font-weight: 500;
	background-color: #1f1f1f;
	font-size: var(--fontSize-l);
	padding: var(--padding);
	border-radius: var(--borderRadius);
	cursor: pointer;
}

.kbd-wrapper {
	width: 50%;
}
.selectedShortcutKBD {
	width: 100%;
	height: 100%;
	/* padding: 1rem; */
}
.selectedShortcutKBD.active {
	border: 0.125rem solid #26bcd6;
}
.selectedShortcutKBD.shortcutExists {
	border: 0.125rem solid var(--red);
}

/* Toggle with Text Wrapper */

.toggleWithText-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #1f1f1f;
	border-radius: 1rem;
	padding: 1rem;

	font-size: 1rem;

	color: white;
}
.toggleWithText-wrapper > div {
	margin-inline: 1rem;
}
